<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="floe.timelapse"
      android:versionCode="2"
      android:versionName="0.2">
    <application android:label="@string/app_name" android:debuggable="true" android:icon="@drawable/speedclock">
        <service android:name=".TimelapseService" />
        <activity android:name=".Timelapse"
                  android:launchMode="singleInstance"
                  android:allowTaskReparenting="true"
                  android:label="@string/app_name">
                  <!-- android:configChanges="orientation|keyboardHidden" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
		<uses-permission android:name="android.permission.CAMERA"/>
		<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
		<uses-feature android:name="android.hardware.camera" />
		<uses-sdk android:minSdkVersion="4" />
		<!--uses-feature android:name="android.hardware.camera.autofocus" /-->
</manifest> 
